<!-- Nav / Dropdown Menu START -->
<section class="container-fluid whole-navbar">
    <div class="logo-wrapper">
      <img src="assets/bh-logo.svg">
      <h4 class="logo-type">blockHYPE</h4>
    </div>
    <nav class="top-nav">
      <h6 class="slogan">There's more to crypto than lambos.</h6>
      <nav class="drop-nav"> 
        <div>
          <a class="menu-category" routerLink="#">News</a>
        </div>
        <div>
          <a class="dropdown-toggle menu-category" data-toggle="dropdown" href="#">
            <b class="caret"></b>
            About Us
          </a>
          <ul class="dropdown dropdown-menu">
            <li><a routerLink="#">Why We Exist</a></li>
          </ul>
        </div>
        <div>
          <a class="dropdown-toggle menu-category" data-toggle="dropdown" href="#">
            <b class="caret"></b>
            Learn
          </a>
          <ul class="dropdown dropdown-menu">
            <li><a routerLink="#">Cryptocurrency Basics</a></li>
            <li><a routerLink="#">Who Is...</a></li>
            </ul>
        </div>
        <div>
          <a class="dropdown-toggle menu-category" data-toggle="dropdown" href="#">
            <b class="caret"></b>
              Content Categories
          </a>
          <ul class="dropdown dropdown-menu">
            <li><a routerLink="#">Dichotomy: Both Sides Of The Coin</a></li>
            <li><a routerLink="#">The Edge Of The Future</a></li>
            <li><a routerLink="#">The Money That Matters.</a></li>
          </ul>
        </div>
      </nav> 
    </nav>
      
      
  </section>
